<% include ../partials/header %>
<div class="container">
    <h1>Edit</h1>
<form action="/classsave" method="POST">
   
<div class="form-group">
  <label for="">Students ID</label>
  <input type="text"
    class="form-control" value="<%= detail.Student_id%>" name="id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Help text</small>
</div>
<div class="form-group">
    <label for="">Name</label>
    <input type="text"
      class="form-control" value="<%= detail.Student_name%>" name="name" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="form-group">
    <label for="">Years</label>
    <input type="text"
      class="form-control" value="<%= detail.years%>" name="years" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="form-group">
    <label for="">Major</label>
    <input type="text"
      class="form-control" value="<%= detail.major%>" name="major" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>

  <button type="submit"class="btn btn-primary">save</button>
</form>
</div>
<% include ../partials/footer %>