<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Midterm Exam</h1>
        <h1 class="display-2">Students</h1>
        <p class="lead">by 6030213046 Pichayanan Prommoon</p>

        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/products" role="button">Let's go to products</a>
        </p>
    </div>
</div>
<% include ../partials/footer %>